html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #141416;
  background: white;
  --color-primary: #fada3f;
  --color-secondary: #ff2136;
  --color-tertiary: #0294fe;
  --color-quaternary: #9b4dff;
  --card-background: #252133;
  --highlighted-background: #202326;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-0{
 margin-top: 0px;
}

.mb-0{
  margin-bottom: 0px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}